{
    "parser": "babel-eslint",
    "extends": ["airbnb-base", "plugin:flowtype/recommended"],
    "plugins": [
        "flowtype",
        "jest"
    ],
    "rules": {
        "quote-props": ["error", "as-needed", { "numbers": true }]
    },
    "env": {
        "jest/globals": true
    }
}