{
    "parser": "babel-eslint",
    "extends": ["airbnb-base", "plugin:flowtype/recommended", "plugin:prettier/recommended"],
    "plugins": [
        "flowtype",
        "jest",
        "prettier"
    ],
    "rules": {
      "no-underscore-dangle": ["error", { "allowAfterThis": true }]
    },
    "env": {
        "jest/globals": true
    }
}
